channels-redis==4.0.0
coreapi==2.3.3
django-cors-headers==3.13.0
django-debug-toolbar==3.8.1
django-environ==0.9.0
django-filter==22.1
django-import-export==2.9.0
django-rest-auth==0.9.5
django-rest-auth-forked==0.9.5
django-wkhtmltopdf==3.4.0
drf-api-logger==1.1.12
drf-yasg==1.21.7
face-recognition==1.3.0
fuzzywuzzy==0.18.0
markuppy==1.14
mtcnn==0.1.1
mysqlclient==2.2.0
odfpy==1.4.1
openpyxl==3.1.2
pandas==2.0.1
pdfkit==1.0.0
pip-chill==1.0.3
psutil==5.9.5
psycopg2==2.9.5
pysocks==1.7.1
python-environ==0.4.54
retina-face==0.0.17
ruamel.yaml==0.17.21
tf-keras==2.17.0
xlrd==2.0.1
xlwt==1.3.0
